# Please add IDE-specific files (e.g. .*.sw* from Vim or .idea from IntelliJ)
# to your global config. If you don't have one set up already, you can create
# it using "git config --global core.excludesfile ~/.gitignore".

target
node
node_modules
.tomcat
.storage
.h2.mv.db
.h2
.vagrant
**/female/*.png
**/male/*.png
