<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>

<body>
    <div>
        <div>
            {{#each header}} {{this}} {{/each}}
        </div>
        {{#each main}} {{this}} {{/each}}
        <div>
            {{#each footer}} {{this}} {{/each}}
        </div>
    </div>

</body>

</html>