<div>
    {{#with headline}}
    <div class="Article-headline">
        <h1>{{this}}</h1>
    </div>
    {{/with}}
    
    {{#with body}}
    <div class="Article-body">
        {{this}}
    </div>
    {{/with}}
</div>