<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link href="/styleguide/All.min.css" type="text/css" rel="stylesheet" />
</head>

<body>
    <div class="Article">
        <div class="Article-header">
            {{#each header}} {{this}} {{/each}}
        </div>
        {{#each main}} {{this}} {{/each}}
        <div class="Article-footer">
            {{#each footer}} {{this}} {{/each}}
        </div>
    </div>

</body>

</html>