<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link href="/styleguide/All.min.css" type="text/css" rel="stylesheet"/>
    <script src="/styleguide/All.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css" type="text/css" >
</head>

<body class="Page">

    {{#with navigation}}
        <div class="Page-navigation">
            {{this}}
        </div>
    {{/with}}

    <div class="Page-body">
        {{body}}
    </div>
</body>

</html>
