<div class="EmployeeDirectory">

    {{#with title}}
        <h1 class="EmployeeDirectory-title">{{this}}</h1>
    {{/with}}

    {{#with results}}
        <div class="EmployeeDirectory-results">{{this}}</div>
    {{/with}}

</div>
