<div class="Article">

    {{#with headline}}
        <div class="Article-headline">
            <h1>{{this}}</h1>
        </div>
    {{/with}}

    {{#with leadImageUrl}}
        <div class="Article-leadImage">
            <img src="{{leadImageUrl}}" height="300">
        </div>
    {{/with}}

    {{#with body}}
        <div class="Article-body">
            {{this}}
        </div>
    {{/with}}

</div>
